

.title{
    font-size: 26px;
    font-family: sans-serif;
}

.bottom-page{
    font-family: sans-serif;
    font-size: medium;
}

.font {
    font-family: sans-serif;
    font-size: medium;
}

span{
    font-size: medium;
}