
.project{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
}

.controls{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title{
    font-size: 26px;
    font-family: sans-serif;
    padding: 5px;
    height: 60px;
    text-align: center;
    background-color: #00c0fa;
    box-shadow:0px 0px 5px 5px gainsboro;
}
.box{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250;
    margin-top: -250;
    box-shadow:0px 0px 5px 5px gainsboro;
}

.bottom-page{
    position: fixed;
    bottom: 12%;
    left: 50%;
    margin-left: -245;
    font-family: sans-serif;
    font-size: medium;
}
.create-node{
    position: fixed;
    bottom: 19.2%;
    right: 59.8%;
    
}

.buttons{
    display: flex;
    height: 300px;
    justify-content: center;
    font-family: sans-serif;
    font-size: medium;
}
.connect{
    position: fixed;
    top: 18%;
    
}
.playbutton{
    position: absolute;
    right: 35%; 
    bottom: 19vh;
}
.slider {
    position: fixed;
    bottom: 20%;
    right: 37%;
  }

.slider-title{
    position: fixed;
    right: 45%;
    bottom: 19.55%;
    font-family: sans-serif;
    font-size: medium;
}
  

 input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    border-radius:10px;
    box-shadow:0px 0px 5px 5px gainsboro;
    background: #00c0fa;  
    background: -webkit-linear-gradient(
      to right,
      #015eea,
      #00c0fa
    );
    background: linear-gradient(
      to right,
      #015eea,
      #00c0fa
    );  
    height: 7.5px;
  } 
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    max-width: 80px;
    position: relative;
    bottom: 3px;
    background-color: white;
    cursor: -webkit-grab;
  -webkit-transition: border 1000ms ease;
    transition: border 1000ms ease;
  }

.font {
    font-family: sans-serif;
    font-size: medium;
}

span{
    font-size: medium;
}
.credits{
    font-size: small;
    position: fixed;
    bottom: 2%;
    left: 43%;
}
.pause-icon{
    background: url('pause_button.png');
    max-height: 5px;
    max-width: 50px;
    
}
